
    *{
        margin: 0;
        padding: 0;
    }
    
    @font-face {
        font-family: minecraft-regular;
        src: url(../font/Minecraft-Regular.woff);
    }
    @font-face {
        font-family: minecraft-head;
        src: url(../font/Minecrafter.woff);
    }
    
    @font-face {
        font-family: minecraft-bold;
        src: url(../font/Minecraft-Bold.woff2);
    }
    body::-webkit-scrollbar{
        display: none;
        
    }
    body{
        overflow: hidden;
    }
    h1{
        font-size: 3rem;
        font-family: minecraft-bold;
    }
    .main-container{
        display: flex;
        background-color: rgba(255, 255, 255, 0.106);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .sub-container{
        display: flex;
        width: 100%;
        margin: 10%;
        align-items: center;
    }
    .submain{
        width: 50%;
    }
    .main{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .elements{
        text-align: center;
        line-height: 4rem;
    }

    label{
        font-size: 1.6rem;
        font-family: minecraft-bold;
    }
    .main-form{
        width: 250%;
        margin-block: 15%;
    }
    input{
        width: 100%;
        border: none;
        font-size:  1.3rem;
        background: transparent;
        font-family: minecraft-regular;
        border-bottom: 1px solid white;
    }
    textarea:focus, input:focus{
        outline: none;
        color: white;
    }
    input::placeholder{
        color: white;
        font-family: minecraft-regular;
    }
    button{
        margin-left: 20%;
        border: none;
        color: black;
        width: 60%;
        font-size: 1.3rem;
        font-family: minecraft-bold;
        border-radius: 4rem;
        padding: 2%;
    }